.new-password-window {
  background-color: #5763a5;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.password-manager {
  width: 100%;
}
.add-password-card {
  background-color: #454f84;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.main-heading {
  color: #f8fafc;
  font-size: 16px;
  font-weight: 500;
}
.input-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 12px;
}
.icon-container {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid #94a3b8;
}
.icon {
  width: 16px;
}
.input {
  border: none;
  padding-left: 6px;
  outline: none;
  width: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.add-btn {
  margin-left: auto;
  border: none;
  outline: none;
  cursor: pointer;
  color: #f8fafc;
  background-color: #0b69ff;
  padding: 3px 20px;
  border-radius: 3px;
  font-weight: 500;
}

/* ... */

.your-passwords-window {
  background-color: #5763a5;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.header-heading {
  font-size: 14px;
}
.count-text {
  padding: 0px 8px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 0px 6px;
}
.search-input-container {
  margin: 0px;
  height: 20px;
  margin-left: auto;
}
.search-icon-container {
  width: 32px;
  height: 20px;
}
.separator {
  color: #b6c3ca;
}
.checkbox-container {
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
}
.checkbox {
  margin-left: auto;
  margin-right: 8px;
}
.no-password-display {
  text-align: center;
  color: #ffffff;
  font-weight: 500;
}

.no-passwords-img {
  width: 250px;
}

/* ... */
.passwords-container {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .new-password-window {
    display: flex;
    align-items: center;
    padding: 40px;
  }
  .add-password-card {
    width: 50%;
  }
  .password-manager {
    width: 50%;
  }
}
